<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>JSJMProject</display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>com.web.haohao.servlets.loginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/loginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>showServlet</servlet-name>
		<servlet-class>com.web.haohao.servlets.ShowServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>showServlet</servlet-name>
		<url-pattern>/showServlet</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>deleteServlet</servlet-name>
		<servlet-class>com.web.haohao.servlets.deleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteServlet</servlet-name>
		<url-pattern>/deleteServlet</url-pattern>
	</servlet-mapping>
			<servlet>
		<servlet-name>addServlet</servlet-name>
		<servlet-class>com.web.haohao.servlets.addServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addServlet</servlet-name>
		<url-pattern>/addServlet</url-pattern>
	</servlet-mapping>
				<servlet>
		<servlet-name>modifyServlet</servlet-name>
		<servlet-class>com.web.haohao.servlets.modifyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>modifyServlet</servlet-name>
		<url-pattern>/modifyServlet</url-pattern>
	</servlet-mapping>
</web-app>